header{
    flex-direction: column;
}
.logo{
    width: 100%;
}
header .logo img{
    min-width: 250px;
}
header .slogan h2{
    font-size: 14px;
    text-align: center;
    padding: 0px 0px 10px 0px;
}
nav ul{
    flex-direction: column;
    height: auto;
}
nav ul li{
    display: block;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    line-height: 20px;
}
main{
    flex-direction: column;
}
main section.left{
    width:100%;
}
main section.left ul li{
    float: unset;
    padding: 0px 10px;
}
main section.left ul img{
    float: unset;
    width: 100%;
    max-width: 100%;
}
main section.right{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
}
main section.right img{
    width: 50%;
    
}

